{% extends "tabular.html" %}

{% block breadcrumb_items %}
<li class="breadcrumb-item">Custom Situations</li>
<li class="breadcrumb-item active">{{ context['title'] }}</li>
{% endblock breadcrumb_items %}

{% block table_body %}
  {% for row in context['rows'] %}
  <tr>
    {% for col in row %}
    <td>{{ col }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
{% endblock table_body %}

{% block extra_body %}
<div class="modal fade" id="queryModal" tabindex="-1" role="dialog" aria-labelledby="queryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="queryModalLabel">Raw Query for {{ context['title'] }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <pre>{{ context['query'] }}</pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock extra_body %}
