{% extends "tabular.html" %}

{% block breadcrumb_items %}
<li class="breadcrumb-item">Sales Order</li>
<li class="breadcrumb-item active">{{ context['title'] }}</li>
{% endblock breadcrumb_items %}

{% block table_body %}
  {% for row in context['rows'] %}
  <tr>
    <td>{{ row.id_sales_order_item_status }}</td>
    <td>{{ row.fk_oms_function }}</td>
    <td>{{ row.status }}</td>
    <td>{{ row.desc }}</td>
    <td>{{ row.deprecated }}</td>
    <td>{{ row.updated_at }}</td>
  </tr>
  {% endfor %}
{% endblock table_body %}
