<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>Logistiko Dashboard</title>
  
  <link rel="shortcut icon" href="/favicon.ico">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700,300">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
  
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/sb-admin/css/sb-admin.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  
  {% block extra_head %}
  {% endblock extra_head %}
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="{{ url_for('homepage') }}">Logistiko</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="mainAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Home">
          <a class="nav-link" href="{{ url_for('homepage') }}">
            <i class="fa fa-fw fa-home"></i>
            <span class="nav-link-text">Home</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Analysis">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseAnalysis" data-parent="#mainAccordion">
            <i class="fa fa-fw fa-chart-bar"></i>
            <span class="nav-link-text">Analysis</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseAnalysis">
            <li>
              <a href="{{ url_for('analysis:regions') }}">Regions</a>
            </li>
            <li>
              <a href="{{ url_for('analysis:packages') }}">Packages</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Sales Orders">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSalesOrder" data-parent="#mainAccordion">
            <i class="fa fa-fw fa-dollar-sign"></i>
            <span class="nav-link-text">Sales Orders</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseSalesOrder">
            <li>
              <a href="{{ url_for('sales_order:items') }}">Items</a>
            </li>
            <li>
              <a href="{{ url_for('sales_order:status') }}">Status</a>
            </li>
            <li>
              <a href="{{ url_for('sales_order:history') }}">History</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Custom Situations">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseCustomSituations" data-parent="#mainAccordion">
            <i class="fa fa-fw fa-dollar-sign"></i>
            <span class="nav-link-text">Custom Situations</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseCustomSituations">
            <li>
              <a href="{{ url_for('custom:2.1') }}">Situation 2.1</a>
            </li>
            <li>
              <a href="{{ url_for('custom:2.2') }}">Situation 2.2</a>
            </li>
            <li>
              <a href="{{ url_for('custom:2.3') }}">Situation 2.3</a>
            </li>
            <li>
              <a href="{{ url_for('custom:2.4') }}">Situation 2.4</a>
            </li>
            <li>
              <a href="{{ url_for('custom:2.5') }}">Situation 2.5</a>
            </li>
            <li>
              <a href="{{ url_for('custom:2.6') }}">Situation 2.6</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="View Source">
          <a class="nav-link" href="https://github.com/njncalub/logistiko">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">View Source</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="content-wrapper">
    
    <div class="container-fluid">
      {% block content %}
      {% endblock content %}
    </div>
    
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>&copy; Copyright 2018 by <a href="http://github.com/njncalub">Nap Joseph Calub</a>.</small>
        </div>
      </div>
    </footer>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js" type="text/javascript"></script>
  
  <script src="{{ url_for('static', filename='vendor/sb-admin/js/sb-admin.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='vendor/sb-admin/js/sb-admin-datatables.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='vendor/sb-admin/js/sb-admin-charts.min.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/base.js') }}" type="text/javascript"></script>
  {% block extra_body %}
  {% endblock extra_body %}
</body>
</html>
